# ignore compiled byte code
target

# ignore output files from testing
output*
derby.log

# ignore standard eclipse
.project
.classpath
.settings
.checkstyle

# ignore standard intellij
.idea/
*.iml
*.iws

.DS_Store
