# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store

#ignore vscode files
.vscode/

# ignore unchanged directories
accumulo1.6/
accumulo1.7/
accumulo1.8/
aerospike/
arangodb/
asynchbase/
azurecosmos/
azuretablestorage/
bin/
binding-parent/
cassandra/
cloudspanner/
core/
couchbase/
couchbase2/
crail/
distribution/
doc/
dynamodb/
.editorconfig/
elasticsearch/
elasticsearch5/
foundationdb/
geode/
googlebigtable/
googledatastore/
griddb/
hbase098/
hbase10/
hbase12/
hbase14/
hbase20/
hypertable/
ignite/
infinispan/
kudu/
mapkeeper/
maprdb/
maprjsondb/
memcached/
nosqldb/
orientdb/
postgrenosql/
rados/
redis/
rest/
riak/
rocksdb/
s3/
solr/
solr6/
tablestore/
tarantool/
voldemort/
workloads/
customworkloads/
outputfiles/
