# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard Eclipse files
.project
.classpath
.settings
.checkstyle

# ignore standard IntelliJ files
.idea/
*.iml
*.ipr
*.iws

# ignore standard Vim and Emacs temp files
*.swp
*~

# ignore standard Mac OS X files/dirs
.DS_Store
/differentbin/
