<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">%-4r [%t] %-5p %c %x -%m%n</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <MarkerFilter marker="DIAGNOSTIC" onMatch="DENY" onMismatch="ACCEPT" />
    </Console>
    <RollingFile
        name="requestDiagnosticsRollingFileAppender"
        fileName="/tmp/diagnostics/requestDiagnostics.log"
        filePattern="/tmp/diagnostics/requestDiagnostics.%i.log.gz"
        ignoreExceptions="false">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <MarkerFilter marker="DIAGNOSTIC" onMatch="ACCEPT" onMismatch="DENY" />
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 KB" />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="log4j.category.org.apache.http" level="INFO"/>
    <Logger name="log4j.category.org.apache.http.wire" level="INFO"/>
    <Logger name="log4j.category.org.apache.http.header" level="INFO"/>
    <Root level="info">
      <AppenderRef ref="console"/>
      <AppenderRef ref="requestDiagnosticsRollingFileAppender"/>
    </Root>
  </Loggers>
</Configuration>